@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient( #807ECE, #8E7ECE);
    font-family: Rubik;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 26px;
    height: 566px;
    width: 356px;
    padding: 54px 32px 32px 32px;
    background: #2D2A37;
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
                0px 188px 52px 0px rgba(0, 0, 0, 0.01),
                0px 120px 48px 0px rgba(0, 0, 0, 0.04),
                0px 68px 41px 0px rgba(0, 0, 0, 0.15),
                0px 30px 30px 0px rgba(0, 0, 0, 0.26),
                0px 8px 17px 0px rgba(0, 0, 0, 0.29),
                inset 0px 6px 8px 0px rgba(255, 255, 255, 0.1),
                inset 0px -4px 5px 0px rgba(0, 0, 0, 0.22);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 0px 22px 0px 22px;
}

.result_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon_equal {
    color: #6B6B6B;
    font-size: 28px;
    font-weight:200;
    margin-right: 20px;
}
.icon_equal img {
    width: 20px;
    height: 20px;
}

.result_operation{
    color: #6B6B6B;
    font-weight:400;
    font-size: 20px;
}
.input_field {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    color: #EBEBEB;
    font-size: 36px;
    font-weight: 400;
}

.button_calc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.default_button {
	display: flex;
	justify-content: center;
    align-items: center;
    margin: 0 12px 12px 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: #EBEBEB;
    font-size: 24px;
    background: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0) 100%), #2D2A37;
    box-shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01),
                0px 7px 7px 0px rgba(0, 0, 0, 0.04),
                0px 4px 6px 0px rgba(0, 0, 0, 0.1),
                0px 2px 4px 0px rgba(0, 0, 0, 0.26),
                0px 0px 2px 0px rgba(0, 0, 0, 0.29),
                inset 0px 2px 3px 0px rgba(255, 255, 255, 0.1);
}

#delete_last_figure {
    color: #975DFA;
}

#equal {
    background: #7F45E2;
}

.operators {
    background: #462878;
}